<!DOCTYPE html>

<html lang="pt-br">
  

  <%- include('parts/head', { title : 'Cadastro', linkCss :
  '/css/cadastro.css'} ) %>

  

  <body>
    

    <%- include('parts/header', { title : 'Cadastro'}) %>
    

    <div class="container cadastro">
      <div class="contentCad">
        <h1>Conheça novas pessoas</h1>
        <p>Estrele novas ideias!</p>
      </div>

      <div class="box">
        <h1>Cadastro</h1>
        <form class="box-cad" method="post" >
          

          <div class="display">
            <div class="erros">

            <% if(erros.length > 1){%> <a>* Preencha todos os campos</a> <%}
            else if(erros.length == 1){erros.forEach(erro => { %><a>* <%= erro.txt %></a><% })} %>
            </div>
            <div class="container-left">
              <div class="text-box">
                <i class="far fa-user" aria-hidden="true" name="user"> </i
                ><input
                  type="text"
                  name="user"
                  id="user-cad"
                  placeholder="User"
                />
                <% errosUser.forEach(erro => { %><a>* <%= erro.txt %></a><% }) %>
                 
                 
              </div>

              <div class="text-box">
                <i class="far fa-user" aria-hidden="true" name="user"> </i
                ><input
                  type="text"
                  name="exibition"
                  id="exibition-cad"
                  placeholder="Nome de exibição"
                />
                <% errosEx.forEach(erro => { %><a>* <%= erro.txt %></a><% }) %>
              </div>

              <div class="text-box">
                <i class="far fa-envelope" aria-hidden="true" name="email"> </i
                ><input
                  type="text"
                  name="email"
                  id="email-cad"
                  placeholder="Email"
                />
                <% errosEmail.forEach(erro => { %><a>* <%= erro.txt %></a><% }) %>
              </div>
            </div>

            <div class="container-right">
              <div class="text-box">
                <i class="far fa-lock" aria-hidden="true" name="password"></i>
                <input
                  type="password"
                  name="password"
                  id="senha-cad"
                  placeholder="Senha"
                />
                <% errosPass.forEach(erro => { %><a>* <%= erro.txt %></a><% }) %>
              </div>
            </div>

          </div>
          <button id="submit">Cadastrar</button>
          <a href="/" id="login-btn">Se já tem um login, Logar-se</a>
        </form>
        

       
          
        
      </div>
    </div>

    <div class="color"></div>

    <%- include ('parts/footer') %>
  </body>

  <script src="https://www.gstatic.com/firebasejs/5.8.5/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.8.5/firebase-auth.js"></script>
  <script src="/script/app.js"></script>
  <script src="/script/authentication.js"></script>
</html>
