<!DOCTYPE html>

<html lang="pt-br">
  <!--Head-->

  <%- include('parts/head', { title : 'Cadastro', linkCss :
  '/css/cadastro.css'} ) %>

  <!--Head-->

  <body>
    <!--Header-->

    <%- //include('parts/header', { title : ''}) %>
    <!--no title vai uma variável string que sera mostrada diferente para cada pagina-->

    <!--Header-->

    <main>
      <div class="content">
        <h1>Bem Vindo</h1>
        <p>Vamos codar juntos :D</p>
      </div>

      <div class="box">
        <form class="box-cad" method="post" >
          <h1>cadastro</h1>

          <div class="display">
            <div class="erros">

            <% if(erros.length > 1){%> <a>* Preencha todos os campos</a> <%}
            else if(erros.length == 1){erros.forEach(erro => { %><a>* <%= erro.txt %></a><% })} %>
            </div>
            <div class="container-left">
              <div class="text-box">
                <i class="far fa-user" aria-hidden="true" name="user"> </i
                ><input
                  type="text"
                  name="user"
                  id="user-cad"
                  placeholder="User"
                />
                <% errosUser.forEach(erro => { %><a>* <%= erro.txt %></a><% }) %>
                 
                 
              </div>

              <div class="text-box">
                <i class="far fa-user" aria-hidden="true" name="user"> </i
                ><input
                  type="text"
                  name="exibition"
                  id="exibition-cad"
                  placeholder="Nome de exibição"
                />
                <% errosEx.forEach(erro => { %><a>* <%= erro.txt %></a><% }) %>
              </div>

              <div class="text-box">
                <i class="far fa-envelope" aria-hidden="true" name="email"> </i
                ><input
                  type="text"
                  name="email"
                  id="email-cad"
                  placeholder="Email"
                />
                <% errosEmail.forEach(erro => { %><a>* <%= erro.txt %></a><% }) %>
              </div>
            </div>

            <div class="container-right">
              <div class="text-box">
                <i class="far fa-lock" aria-hidden="true" name="password"></i>
                <input
                  type="password"
                  name="password"
                  id="senha-cad"
                  placeholder="Senha"
                />
                <% errosPass.forEach(erro => { %><a>* <%= erro.txt %></a><% }) %>
              </div>
            </div>

          </div>
          <button id="submit">Cadastrar</button>
        </form>
        

        <div id="login-btn-delim">
          <a href="/" id="login-btn"
            ><input
              type="submit"
              name="se-ja-tem-login"
              value="Se já tem um login, Logar-se"
          /></a>
        </div>
      </div>
    </main>

    <div class="color"></div>

    <%- include ('parts/page-footer') %>
  </body>

  <script src="https://www.gstatic.com/firebasejs/5.8.5/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.8.5/firebase-auth.js"></script>
  <script src="/script/app.js"></script>
  <script src="/script/authentication.js"></script>
</html>
