<!DOCTYPE html>
<html lang="pt-br">



  <%- include('parts/head', { title :'Home', linkCss:'/css/home.css'}) %> 



  <body>

   
    <%- include('parts/header', { title : ''}) %>
  
<div class="container home">
  
    <main class="mainHome">
<div class="imgHome"><img class="logo" src="img/icoPonte.png" alt=""></div>
      
      
    
      
<% if(sucs === 'aPublicado!'){%>
  <a><%= sucs %></a> 
  <%} %> 
        <div class="publicacao">

          <div class="caixa-perfil">
            <div class="avatar-perfil">
            <img src="" class="avatar-publi" />
            </div>
            <div class="nome-perfil"><h3></h3></div>
          </div>

          <form action="/publicar" name="textPublicar" method="POST" class="publicar">
            <div class="publi1">
              
              <textarea class="textInput" name="conteudo" id="" 
              placeholder="Oi <%= userEx %>, troca uma ideia ai  :) " 
              maxlength="200" wrap="hard"></textarea>

            
          
          </div>
            
<div class="publi2"><button type="submit" class="estrelar btSubmit">Estrelar</button></div>
            
          </form>
<div class="hr inicial"></div>
        </div>
      
        <div class="publicados">
        
        
         
          <%pubs.forEach(pub => {%>
            <div class="publica">

              <div class="p0"><img src="img/user.png" alt="" title=""></div>

              <div class="p1">
              <div class="p2"><%= pub.userEx %> 
              <a href="/perfil/<%= pub.userUser %>"><small>  @<%= pub.userUser %></small></a>
              </div>
              <textarea class="textCont" readonly><%= pub.conteudo %></textarea>
              
            </div>
              
              


  
  
              
            </div>

            <div class="publicaTwo">
              <div class="p11">
             <button class="comentPart"><img src="img/ballon.png" alt=""></button>
             <%=pub.comentarios.length%>
              <% var visao = String(pub._id)
               %> 

              <% if(userCurtidas.indexOf(visao)>=0){%>
                <form action="/descurtir/<%=pub._id%>" method="post">
                
                <button type="submit"><img src="img/star.png" alt="Tirar estrela"></button>
              </form>
                
                <%}else{%> 
                  <button onClick="curtir('User', '123',  'pub._id' )">cc</button>
              <form action="/curtir/<%=pub._id%>" method="post">
                
                <button type="submit"><img src="img/starun.png" alt="Dar uma estrela"></button>
              </form>
              
              <%}%>
             
              <%= pub.publiCurtidas %>
            </div>
              <div class="p12">
              <% var monthNames = [
      'Janeiro', 'Fevereiro', 'Março',
      'Abril', 'Maio', 'Junho', 'Julho',
      'Agosto', 'Setembro', 'Outubro',
      'Novembro', 'Dezembro'
   ];
 var d = pub.createdAt.getDate();
 var m = monthNames[pub.createdAt.getMonth()];
 var y = pub.createdAt.getFullYear();
 var h = pub.createdAt.getHours()
 var mi = pub.createdAt.getMinutes()%>
 <small><%= d + ' ' +m + ' ' +y + ' ás: '+ h + ':'+ mi%></small>
 
<input type="hidden" name='pubId' value="<%=pub._id%>">
<% if(userAdm == 1){%>
  <form action="/deletar/<%=pub._id%>" method="post">
    <button type="submit">Deletar</button>
        
    </form>         
            
<%}%>

 <%if(pub.idUser == sessionID){%>
  <!--<form action="/deletar/<%=pub._id%>" method="post">
    <button type="submit">Deletar</button>
        
    </form> -->
<%}%>
</div>
            </div> 

<div class="comentarios">
  <form action="/comentar/<%=pub._id%>" name="textPublicar" method="POST" class="publicar">
            <div class="publi1">
              
              <textarea class="textInput" name="contComent" id="" 
              placeholder="Oi <%= userEx %>, troca uma ideia ai  :) " 
              maxlength="200" wrap="hard"></textarea>

            
          
          </div>
            
<div class="publi2"><button type="submit" class="estrelar btSubmit small">Comentar</button></div>
            
          </form>
  
  
  <%pub.comentarios.forEach(coment => {
    
    coment.comentario.forEach(comment => {%>
      <div class="hr"></div>
      <div class="publica">

<div class="p0"><img src="img/user.png" alt="" title=""></div>

<div class="p1">
<div class="p2"><%= comment.userEx %> 
<a href="/perfil/<%= comment.userUser %>"><small>  @<%= comment.userUser %></small></a>
</div>
<textarea class="textCont" readonly><%= comment.contComent %></textarea>
</div>
</div>

        
      <%});});%>
  </div>
  
            <div class="hr"></div>
           
          <%}) %> 
</div>
        

      
      
      
    </main>
    <div class="noticias">
      <div class="notiTitle">Notícias</div>
    
      
</div>
</div>
<script src="script/autoResize.js"></script>
<script src="script/curtir.js"></script>
  <script src="script/coment.js"></script>
    <%- include ('parts/page-footer') %>

 

  </body>

</html>
