<!DOCTYPE html>
<html lang="pt-br">



  <%- include('parts/head', { title :'Ponte', linkCss:'/css/home.css'}) %> 

  

  <body>
    
   
  <%- include('parts/header', { title : ''}) %>
  

  <div class="container home">
    <div class="noticias">

      <div class="notiTitle"><h3>Notícias</h3></div>

      <div class="box-noti">
<%nots.forEach(noti => {%>
  

    <div class="noticia">

      <div class="manchete">
      <h4><%=noti.titulo%></h4>
      
      <small class="categoriaNoti">- <%=noti.categoria%></small>
      </div>

      <div class="contNoti">
        
        <span class="input" role="textbox"> <%= noti.conteudo %> </span>

        <% var monthNames = [
            'Janeiro', 'Fevereiro', 'Março',
            'Abril', 'Maio', 'Junho', 'Julho',
            'Agosto', 'Setembro', 'Outubro',
            'Novembro', 'Dezembro'
            ];
            var d = noti.createdAt.getDate();
            var m = monthNames[noti.createdAt.getMonth()];
            var y = noti.createdAt.getFullYear();
            var h = noti.createdAt.getHours()
            var mi = noti.createdAt.getMinutes()%>
            <div class="footer-noti">
            <small class="dataNoti"><%= d + ' ' +m + ' de ' +y %></small>
            <%if(userAdm == 1){%>
            <button data-modal-target="#modal<%=noti._id%>" class="btnDelete">Deletar</button>
            <%}%>
        </div>
      </div>
    
    </div>

    

   

 <div class="modal" id="modal<%=noti._id%>">

            

<div class="modal-header">
<div class="title">PONTE</div>
<button data-close-button class="close-button">&times;</button>

</div>

<div class="modal-body deletar">
  <h3>Certeza que deseja deletar esta notícia?</h3>
  <span class="input" role="textbox"> <%= noti.conteudo %> </span> 
  <div class="delete">
   
  <form action="/deletar-noti-adm/<%=noti._id%>" method="post">

    <button type="submit" class="sim">Sim</button>
    
  </form>
<button data-close-button class="nao">Não</button>
</div>
</div>


  
  
</div>
 <%})%>
 <%- include ('parts/footer') %>
 </div>
<div class="modal noti" id="modalNoti">

            

<div class="modal-header">
<div class="title">Adicionar nova notícia</div>
<button data-close-button class="close-button">&times;</button>

</div>

  <div class="modal-body">
<form action="/publiNoticia" method="post" class="formNoti">

<div class="inp">
<label for="inputTitleNoti">Título</label>
<input type="text" name="inputTitleNoti" id="inputTitleNoti" maxlength="14">
</div>

<div class="inp">
<label for="inputCatNoti">Categoria</label>
<input type="text" name="inputCatNoti" id="inputCatNoti" maxlength="10">
</div>

<div class="inp">
<label for="inputContNoti">Conteúdo</label>
<textarea class="textInput" name="inputContNoti" id="" 
              placeholder="" 
              maxlength="120" wrap="hard"></textarea>

</div>

<div class="btnSubNoti">
<button type="submit" class="btSubmit">Confirmar</button>
</div>
</form>
  
 </div>
  
  
</div>
    <%if(userAdm == 1){%>
      
      
  

<div>
<button data-modal-target="#modalNoti" class="modalNoti">&#x2B;</button>
</div>
    


    <%}%>
      
    

  </div> 

    <main class="mainHome">
<div class="imgHome"><img class="logo" src="img/icoPonte.png" alt=""></div>
      
      
    
      
<% if(sucs === 'aPublicado!'){%><a><%= sucs %></a> <%} %>
  
   
        <div class="publicacao">

          <form action="/publicar" name="textPublicar" method="post" class="publicar">
            
            <div class="publi1">
              
              <textarea class="textInput est" row='1' name="conteudo" id="area" 
              placeholder="Oi <%= userEx %>, troca uma ideia ai  :) " 
              maxlength="200" wrap="hard"></textarea>

            
          
          </div>
            
<div class="publi2"><button type="submit" class="estrelar btSubmit">Estrelar</button></div>
            
          </form>

        </div>
        
        <div class="publicados">
         
          <% var i = 0; var curtida
          var star
           pubs.forEach(pub => {

            
            var visao = pub.userCurtidas.findIndex(curti => curti ==  userUser  )
          if(visao >=0 ){ curtida = 'descurtir'; star = 'star'  } 
          else{ curtida = 'curtir'; star = 'starun'}%> 

          

          <div class="publica">

            <div class="p0"><img src="img/user.png" alt="" title=""></div>

            <div class="p1">
            <div class="p2"><%= pub.userEx %> 
            <a href="/perfil/<%= pub.userUser %>"><small>  @<%= pub.userUser %></small></a>
            </div>
           
            <span class="input" role="textbox"> <%=pub.conteudo%> </span>

            </div>

          </div>
         
          <div class="modal" id="modal<%=pub._id%>">

            

            <div class="modal-header">
            <div class="title">PONTE</div>
            <button data-close-button class="close-button">&times;</button>
            
            </div>
      
            <div class="modal-body deletar">
              <h3>Certeza que deseja deletar esta publicação?</h3>
              <span class="input" role="textbox"> <%= pub.conteudo %> </span> 
              <div class="delete">
               
              <form action="/deletar/<%=pub._id%>" method="post">
      
                <button type="submit" class="sim">Sim</button>
                
              </form>
      <button data-close-button class="nao">Não</button>
      </div>
            </div>
      
            
              
              
          </div>
              
          
      
          

            <div class="modal" id="modal<%=i%>">

            

              <div class="modal-header">
              <div class="title">PONTE</div>
              <button data-close-button class="close-button">&times;</button>
              
              </div>

              <div class="modal-init">
                <div class="publica">

                  <div class="p0"><img src="img/user.png" alt="" title=""></div>
      
                  <div class="p1">
                  <div class="p2"><%= pub.userEx %> 
                  <a href="/perfil/<%= pub.userUser %>"><small>  @<%= pub.userUser %></small></a>
                  </div>
                  <span class="input" role="textbox"> <%=pub.conteudo%> </span>
      
                  </div>
      
                </div>
                <div class="publicacao">

                  <div class="caixa-perfil">
                    <div class="avatar-perfil">
                    <img src="" class="avatar-publi" />
                    </div>
                    <div class="nome-perfil"><h3></h3></div>
                  </div>
        
                  <form action="/comentar/<%=pub._id%> " name="textPublicar" method="POST" class="publicar">
                    <div class="publi1">
                      
                      <textarea class="textInput" name="contComent" id="" 
                      placeholder="<%= userEx %>, estrele seu comentário!! " 
                      maxlength="200" wrap="hard"></textarea>
        
                    
                  
                  </div>
                    
        <div class="publi2"><button type="submit" class="estrelar btSubmit">Comentar</button></div>
                    
                  </form>
        
                </div>

              </div>

              <%pub.comentarios.forEach(comentario => {%>
            
              
                     
                <div class="modal-body">
              <div class="p0"><img src="img/user.png" alt="" title=""></div>
            
              <div class="p1">
                
              <div class="p2">
                <%= comentario.userEx %> 
              <a href="/perfil/<%= comentario.userUser %>"><small>  @<%= comentario.userUser %></small></a>
              </div>
              
              <span class="input" role="textbox"> <%=comentario.contComent%> </span>
              </div>   
                
               </div>
               <div class="hr"></div>
                
            
            
               
            
             <%})%> 
                
            </div>
                
            <div id="overlay"></div>

          

          <div class="publicaTwo">

            <div class="p11">
            <button data-modal-target="#modal<%=i%>" class="comentPart <%=i%>"><img src="img/ballon.png" alt=""></button>
            <%=pub.comentarios.length%>
              
            <form action="/<%=curtida%>/<%=pub._id%>" method="post">
              
              <button type="submit" id="curtida"><img src="img/<%=star%>.png" ></button>
              <%=pub.userCurtidas.length%>
            </form>
            

            

            <%= pub.publiCurtidas %>
            </div>
            <div class="p12">
            <% var monthNames = [
            'Janeiro', 'Fevereiro', 'Março',
            'Abril', 'Maio', 'Junho', 'Julho',
            'Agosto', 'Setembro', 'Outubro',
            'Novembro', 'Dezembro'
            ];
            var d = pub.createdAt.getDate();
            var m = monthNames[pub.createdAt.getMonth()];
            var y = pub.createdAt.getFullYear();
            var h = pub.createdAt.getHours()
            var mi = pub.createdAt.getMinutes()%>
            <small><%= d + ' ' +m + ' ' +y + ' ás: '+ h + ':'+ mi%></small>

            <input type="hidden" name='pubId' value="<%=pub._id%>">
            

           
            </div>
            <%if(userAdm == 1){%>
<button data-modal-target="#modal<%=pub._id%>" class="btnDelete">Deletar</button>
<%}%>
          </div> 

          <div class="hr"></div>

          <%i++%>

          <%}) %> 

      </div>
        

      
    </main>
   
<script src="script/coment.js"></script>
<script src="script/autoResize.js"></script>
<script src="script/test.js"></script>

<script>
  $("textarea").keydown(function(e){
// Enter was pressed without shift key
if (e.keyCode == 13 && !e.shiftKey)
{
    // prevent default behavior
    e.preventDefault();
    $(this).closest("form").submit();

}
});

</script>



 

  </body>

</html>
