<!DOCTYPE html>
<html lang="pt-br">

  <!--Head-->

  <%- include('parts/page-head', { title :'Home', linkCss:'/css/style-home.css', linkHeader :'/css/style-header.css'}) %> 

  <!--Head-->

  <body>

    <!--Header-->

    <!--no title vai uma variável string que sera mostrada diferente para cada pagina-->
    <%- include('parts/page-header', { title : ''}) %>

    <!--Header-->

    <div id="primary-content">

      <!--<div class="container-topo">
        <div class="content-topo"></div>
      </div>-->

      <div class="container-left">
        <div class="content-left"></div>
      </div>

      <div class="container-right">
        <div class="content-right"></div>
      </div>

    </div>

    <main>

      <div class="container-principal">
      <div class="content-principal">
<% if(sucs === 'Publicado!'){%>
  <a><%= sucs %></a> 
  <%} %> 
        <div class="publicacao">

          <div class="caixa-perfil">
            <div class="avatar-perfil">
            <img src="" class="avatar-publi" />
            </div>
            <div class="nome-perfil"><h3></h3></div>
          </div>

          <form action="/publicar" name="textPublicar" method="POST" class="publicar">
            <textarea
            name="conteudo"
            placeholder="Escreva sua publicação aqui..."
            ></textarea>

            <button type="submit">Publicar</button>
          </form>

        </div>
      
        <div class="publicados">

          <%pubs.forEach(pub => {%>
            <div class="publica">
              <%= pub.userEx %> 
              <a href="/seu-perfil"><small><%= pub.userUser %></small></a>
              <%= pub.conteudo %>
              <% var monthNames = [
      'Janeiro', 'Fevereiro', 'Março',
      'Abril', 'Maio', 'Junho', 'Julho',
      'Agosto', 'Setembro', 'Outubro',
      'Novembro', 'Dezembro'
   ];
 var d = pub.createdAt.getDate();
 var m = monthNames[pub.createdAt.getMonth()];
 var y = pub.createdAt.getFullYear();
 var h = pub.createdAt.getHours()
 var mi = pub.createdAt.getMinutes()%>
 <small><%= d + ' ' +m + ' ' +y + ' ás: '+ h + ':'+ mi%></small>
<input type="hidden" name='pubId' value="<%=pub._id%>">
 <%if(pub.idUser == sessionID){%>
<a href="/deletar/<%=pub._id%>">Deletar</a>
<%}%>



  
  
              <hr>
            </div>
          <%}) %> 

        </div>

      </div>
      </div>
      
    </main>

    <%- include ('parts/page-footer') %>

 

  </body>

</html>
