<!DOCTYPE html>
<html lang="pt-br">



  <%- include('parts/head', { title :'Home', linkCss:'/css/home.css'}) %> 



  <body>

   
    <%- include('parts/header', { title : ''}) %>
<div class="contentHome">
  <div class="headerFix"></div>
    <main class="mainHome">
<div class="imgHome"><img class="logo" src="img/ponte-logo.png" alt=""></div>
      
      
      <hr>
      
<% if(sucs === 'aPublicado!'){%>
  <a><%= sucs %></a> 
  <%} %> 
        <div class="publicacao">

          <div class="caixa-perfil">
            <div class="avatar-perfil">
            <img src="" class="avatar-publi" />
            </div>
            <div class="nome-perfil"><h3></h3></div>
          </div>

          <form action="/publicar" name="textPublicar" method="POST" class="publicar">
            <div class="publi1">
              

            <input type="text" name="conteudo" autocomplete="off" autocapitalize="off"
            placeholder="Oi <%= userEx %>, troca uma ideia ai... "
            maxlength="118">
          
          </div>
            
<div class="publi2"><button type="submit">Publicar</button></div>
            
          </form>
<div class="hr inicial"></div>
        </div>
      
        <div class="publicados">
        
        
         
          <%pubs.forEach(pub => {%>
            <div class="publica">

              <div class="p0">O</div>

              <div class="p1">
              <div class="p2"><%= pub.userEx %> 
              <a href="/perfil/<%= pub.userUser %>"><small>  @<%= pub.userUser %></small></a>
              </div>
              <%= pub.conteudo %>
              
            </div>
              
              


  
  
              
            </div>

            <div class="publicaTwo">
              <div class="p11">
            <%= pub.publiCurtidas %>
              <% var visao = String(pub._id)
               %> 

              <% if(userCurtidas.indexOf(visao)>=0){%>
                <form action="/descurtir/<%=pub._id%>" method="post">
                
                <button type="submit">Descurtir</button>
              </form>
                
                <%}else{%> 
              <form action="/curtir/<%=pub._id%>" method="post">
                
                <button type="submit">Curtir</button>
              </form>
              <%}%>
            </div>
              <div class="p12">
              <% var monthNames = [
      'Janeiro', 'Fevereiro', 'Março',
      'Abril', 'Maio', 'Junho', 'Julho',
      'Agosto', 'Setembro', 'Outubro',
      'Novembro', 'Dezembro'
   ];
 var d = pub.createdAt.getDate();
 var m = monthNames[pub.createdAt.getMonth()];
 var y = pub.createdAt.getFullYear();
 var h = pub.createdAt.getHours()
 var mi = pub.createdAt.getMinutes()%>
 <small><%= d + ' ' +m + ' ' +y + ' ás: '+ h + ':'+ mi%></small>
<input type="hidden" name='pubId' value="<%=pub._id%>">
<% if(userAdm == 1){%>
  <form action="/deletar/<%=pub._id%>" method="post">
    <button type="submit">Deletar</button>
        
    </form>         
            
<%}%>

 <%if(pub.idUser == sessionID){%>
  <form action="/deletar/<%=pub._id%>" method="post">
    <button type="submit">Deletar</button>
        
    </form> 
<%}%>
</div>
</div>
            <div class="hr"></div>
          <%}) %> 

        </div>

      
      
      
    </main>
    <div class="noticias">
      <div class="notiTitle">Notícias</div>
    
      
</div>
    </div>
    
    <%- include ('parts/page-footer') %>

 

  </body>

</html>
