<!DOCTYPE html>

<html lang="pt-br">

  <%- include('parts/head', { title : 'Perfil', linkCss :
  '/css/perfil.css'} ) %>

  <body>
    
    <%- include('parts/header', { title : ''}) %>
    
    <div class="container perfil">
      <div class="mainPerfil">
        
       

<% if(sessionID === 'NOT'){%>
<div class="partPerfil">
  <div class="avatar"><img src="../img/userM.png" alt=""></div>
    <div class="nome">
      <h2><%= perfilEx %>  </h2>
       <small>@<%= perfilUser %>  </small>
    </div>
    </div>
    <h4>Todas as publicações de @<%= perfilUser %></h4>
        <div class="publicados">


  <%var i = 0; pubs.forEach(pub =>{%>

    <div class="modal" id="modal<%=pub._id%>">

            

      <div class="modal-header">
      <div class="title">PONTE</div>
      <button data-close-button class="close-button">&times;</button>
      
      </div>
      
      <div class="modal-body">
        <h3>Certeza que deseja deletar esta publicação?</h3>
        <span class="input" role="textbox"> <%= pub.conteudo %> </span> 
        <div class="delete">
         
        <form action="/deletar/<%=pub._id%>" method="post">
      
          <button type="submit" class="sim">Sim</button>
          
        </form>
      <button data-close-button class="nao">Não</button>
      </div>
      </div>
      
      
        
        
      </div>

    <div class="publica">

<div class="p0"><img src="../img/user.png" alt="" title=""></div>

<div class="p1">
<div class="p2"><%= pub.userEx %> 
<a href="/perfil/<%= pub.userUser %>"><small>  @<%= pub.userUser %></small></a>
</div>
<textarea class="textCont" readonly><%= pub.conteudo %></textarea>

</div>

</div>
<div class="modal" id="modal<%=i%>">

            

<div class="modal-header">
<div class="title">PONTE</div>
<button data-close-button class="close-button">&times;</button>

</div>

<div class="modal-init">
  <div class="publica">

    <div class="p0"><img src="../img/user.png" alt="" title=""></div>

    <div class="p1">
    <div class="p2"><%= pub.userEx %> 
    <a href="/perfil/<%= pub.userUser %>"><small>  @<%= pub.userUser %></small></a>
    </div>
    <textarea class="textCont" readonly><%= pub.conteudo %></textarea>

    </div>

  </div>
  <div class="publicacao">

    <div class="caixa-perfil">
      <div class="avatar-perfil">
      <img src="" class="avatar-publi" />
      </div>
      <div class="nome-perfil"><h3></h3></div>
    </div>

    <form action="/comentar/<%=pub._id%> " name="textPublicar" method="POST" class="publicar">
      <div class="publi1">
        
        <textarea class="textInput" name="contComent" id="" 
        placeholder="<%= userEx %>, estrele seu comentário!! " 
        maxlength="200" wrap="hard"></textarea>

      
    
    </div>
      
<div class="publi2"><button type="submit" class="estrelar btSubmit">Comentar</button></div>
      
    </form>
<div class="hr inicial"></div>
  </div>

</div>

<%pub.comentarios.forEach(coment => {%>
<%coment.comentario.forEach(comentario => {%> 

       
  <div class="modal-body">
<div class="p0"><img src="../img/user.png" alt="" title=""></div>

<div class="p1">
  
<div class="p2">
  <%= comentario.userEx %> 
<a href="/perfil/<%= comentario.userUser %>"><small>  @<%= comentario.userUser %></small></a>
</div>

<textarea class="textCont" readonly><%= comentario.contComent %></textarea>
</div>   
  
 </div>
 <div class="hr"></div>
  <%})%>


 

<%})%> 
  
</div>
  
<div id="overlay"></div>
<div class="publicaTwo">

<div class="p11">
<button data-modal-target="#modal<%=i%>" class="comentPart <%=i%>"><img src="../img/ballon.png" alt=""></button>
<%=pub.comentarios.length%>
<% var visao = String(pub._id)
  %> 

<% if(userCurtidas.indexOf(visao)>=0){%>
  <form action="/descurtir/<%=pub._id%>" method="post">
  
  <button type="submit"><img src="../img/star.png" alt="Tirar estrela"></button>
</form>
  
  <%}else{%> 
    
<form action="/curtir/<%=pub._id%>" method="post">
  
  <button type="submit"><img src="../img/starun.png" alt="Dar uma estrela"></button>
</form>

<%}%>

<%= pub.publiCurtidas %>
</div>
<div class="p12">
<% var monthNames = [
'Janeiro', 'Fevereiro', 'Março',
'Abril', 'Maio', 'Junho', 'Julho',
'Agosto', 'Setembro', 'Outubro',
'Novembro', 'Dezembro'
];
var d = pub.createdAt.getDate();
var m = monthNames[pub.createdAt.getMonth()];
var y = pub.createdAt.getFullYear();
var h = pub.createdAt.getHours()
var mi = pub.createdAt.getMinutes()%>
<small><%= d + ' ' +m + ' ' +y + ' ás: '+ h + ':'+ mi%></small>

<input type="hidden" name='pubId' value="<%=pub._id%>">

        



</div>
<%if(userAdm == 1){%>
  <button data-modal-target="#modal<%=pub._id%>" class="btnDelete">Deletar</button>
  
  <%}%>
</div> 

       
<div class="hr"></div>
          
          
          <%}) %> 
        </div>
        
          
<%}else{%>

  <div class="partPerfil">
  <div class="avatar"><img src="../img/userM.png" alt=""></div>
    <div class="nome">
      <h2><%= perfilEx %>  </h2>
       <small>@<%= perfilUser %>  </small>
    </div>
    </div>
<h4>Todas as publicações de @<%= perfilUser %></h4>
        <div class="publicados">


  <%var i = 0; pubs.forEach(pub =>{%>
    <div class="modal" id="modal<%=pub._id%>">

            

<div class="modal-header">
<div class="title">PONTE</div>
<button data-close-button class="close-button">&times;</button>

</div>

<div class="modal-body">
  <h3>Certeza que deseja deletar esta publicação?</h3>
  <span class="input" role="textbox"> <%= pub.conteudo %> </span> 
  <div class="delete">
   
  <form action="/deletar/<%=pub._id%>" method="post">

    <button type="submit" class="sim">Sim</button>
    
  </form>
<button data-close-button class="nao">Não</button>
</div>
</div>


  
  
</div>
    <div class="publica">

<div class="p0"><img src="../img/user.png" alt="" title=""></div>

<div class="p1">
<div class="p2"><%= pub.userEx %> 
<a href="/perfil/<%= pub.userUser %>"><small>  @<%= pub.userUser %></small></a>
</div>
<textarea class="textCont" readonly><%= pub.conteudo %></textarea>

</div>

</div>
<div class="modal" id="modal<%=i%>">

            

<div class="modal-header">
<div class="title">PONTE</div>
<button data-close-button class="close-button">&times;</button>

</div>

<div class="modal-init">
  <div class="publica">

    <div class="p0"><img src="../img/user.png" alt="" title=""></div>

    <div class="p1">
    <div class="p2"><%= pub.userEx %> 
    <a href="/perfil/<%= pub.userUser %>"><small>  @<%= pub.userUser %></small></a>
    </div>
    <textarea class="textCont" readonly><%= pub.conteudo %></textarea>

    </div>

  </div>
  <div class="publicacao">

    <div class="caixa-perfil">
      <div class="avatar-perfil">
      <img src="" class="avatar-publi" />
      </div>
      <div class="nome-perfil"><h3></h3></div>
    </div>

    <form action="/comentar/<%=pub._id%> " name="textPublicar" method="POST" class="publicar">
      <div class="publi1">
        
        <textarea class="textInput" name="contComent" id="" 
        placeholder="<%= userEx %>, estrele seu comentário!! " 
        maxlength="200" wrap="hard"></textarea>

      
    
    </div>
      
<div class="publi2"><button type="submit" class="estrelar btSubmit">Comentar</button></div>
      
    </form>
<div class="hr inicial"></div>
  </div>

</div>

<%pub.comentarios.forEach(coment => {%>
<%coment.comentario.forEach(comentario => {%> 

       
  <div class="modal-body">
<div class="p0"><img src="../img/user.png" alt="" title=""></div>

<div class="p1">
  
<div class="p2">
  <%= comentario.userEx %> 
<a href="/perfil/<%= comentario.userUser %>"><small>  @<%= comentario.userUser %></small></a>
</div>

<textarea class="textCont" readonly><%= comentario.contComent %></textarea>
</div>   
  
 </div>
 <div class="hr"></div>
  <%})%>


 

<%})%> 
  
</div>
  
<div id="overlay"></div>
<div class="publicaTwo">

<div class="p11">
<button data-modal-target="#modal<%=i%>" class="comentPart <%=i%>"><img src="../img/ballon.png" alt=""></button>
<%=pub.comentarios.length%>
<% var visao = String(pub._id)
  %> 

<% if(userCurtidas.indexOf(visao)>=0){%>
  <form action="/descurtir/<%=pub._id%>" method="post">
  
  <button type="submit"><img src="../img/star.png" alt="Tirar estrela"></button>
</form>
  
  <%}else{%> 
    
<form action="/curtir/<%=pub._id%>" method="post">
  
  <button type="submit"><img src="../img/starun.png" alt="Dar uma estrela"></button>
</form>

<%}%>

<%= pub.publiCurtidas %>
</div>
<div class="p12">
<% var monthNames = [
'Janeiro', 'Fevereiro', 'Março',
'Abril', 'Maio', 'Junho', 'Julho',
'Agosto', 'Setembro', 'Outubro',
'Novembro', 'Dezembro'
];
var d = pub.createdAt.getDate();
var m = monthNames[pub.createdAt.getMonth()];
var y = pub.createdAt.getFullYear();
var h = pub.createdAt.getHours()
var mi = pub.createdAt.getMinutes()%>
<small><%= d + ' ' +m + ' ' +y + ' ás: '+ h + ':'+ mi%></small>

<input type="hidden" name='pubId' value="<%=pub._id%>">

        



</div>
<button data-modal-target="#modal<%=pub._id%>" class="btnDelete">Deletar</button>


</form> 
</div> 

       
<div class="hr"></div>
          
          
          <%}) %> 
        </div>
        
        
<%} %> 
      </div>
    </div>

    <%- include ('parts/page-footer') %>
  </body>
</html>
