<!DOCTYPE html>

<html lang="pt-br">
  <!--Head-->

  <%- include('parts/page-head', { title : 'Seu Perfil', linkCss :
  '/css/style-seu-perfil.css', linkHeader : '/css/style-header.css'} ) %>

  <!--Head-->

  <body>
    <!--Header-->

    <%- include('parts/page-header', { title : ''}) %>
    <!--no title vai uma variável string que sera mostrada diferente para cada pagina-->

    <!--Header-->

    <main>
      <div id="content">
  

        <div class="container-right">
          <div class="nome">
            <h3>Nome: <%= userEx %>  </h3>
             <button>Mudar Nome</button>
          </div>
          <div class="user">
            <h3>User: <%= userUser %>  </h3>
            
          </div>
          <div class="email">
            <h3>E-mail: <%= userEmail %>  </h3>
            
          </div>
        </div>
      </div>
    </main>

    <%- include ('parts/page-footer') %>
  </body>
</html>
