<!DOCTYPE html>

<html lang="pt-br">
  

  <%- include('parts/head', { title : 'Suporte', linkCss :
  '/css/suporte.css'} ) %>

  

  <body>
   

    <%- include('parts/header', { title : ''}) %>
    
<div class="container suporte">
    
<% if(userAdm == 0) {%>
  
  <div class="mainSuporte">
        <h1>Suporte</h1>
<% erros.forEach(erro => { %>
 <%= erro.txt %> 
<% }) %>

<% if(sucs === 'Suporte enviado!'){%><a><%= sucs %></a> <%} %> 
        
          <div id="guia">
            <h3>
              Aqui você pode relatar algum bug, ou algum outro problema técnico
              que esteja tendo.
            </h3>
          </div>
          

        <form method="POST" action="/suporte" name="suporteGo" class="formSup">

          
            <textarea placeholder="Digite aqui..." name="conteudo" 
            class="contSup" wrap="hard" maxlength="300"></textarea>
          

        <button type="submit" class="btSubmit">Enviar</button>

        </form>

        </div>


      
      
      
      
      
      <%}else{%>
        
        <% sups.forEach(sup => { %>
         <%= sup.userUser %>
         <%= sup._id %>
         <%= sup.conteudo %>
         <%= sup.createdAt %>
         <form action="/deletar-sup-adm/<%= sup._id %>" method="post">
          <button type="submit">Deletar</button>
        </form>
         <hr>
         <br/>
        <% }) %>
        
        <%}%> 
      


</div>    
<script src="script/autoResize.js"></script>
    <%- include ('parts/page-footer') %>

  </body>

</html>
