<!DOCTYPE html>

<html lang="pt-br">
  

  <%- include('parts/head', { title : 'Suporte', linkCss :
  '/css/suporte.css'} ) %>

  

  <body>
   

    <%- include('parts/header', { title : ''}) %>
    
<div class="container suporte">
  <div id="overlay"></div>
<% if(userAdm == 0) {%>
  
  <div class="mainSuporte">
        <h1>Suporte</h1>
<% erros.forEach(erro => { %>
 <%= erro.txt %> 
<% }) %>

<% if(sucs === 'Suporte enviado!'){%><a><%= sucs %></a> <%} %> 
        
          <div id="guia">
            <h3>
              Aqui você pode relatar algum bug, ou algum outro problema técnico
              que esteja tendo.
            </h3>
          </div>
          

        <form method="POST" action="/suporte" name="suporteGo" class="formSup">

          
            <textarea placeholder="Digite aqui..." name="conteudo" 
            class="contSup" wrap="hard" maxlength="300"></textarea>
          

        <button type="submit" class="btSubmit">Enviar</button>

        </form>

        </div>
      
      
      <%}else{%>
        <div class="mainSuporte adm">
        <% sups.forEach(sup => { %>
          <div class="modal" id="modal<%=sup._id%>">

            

            <div class="modal-header">
            <div class="title">PONTE</div>
            <button data-close-button class="close-button">&times;</button>
            
            </div>
            
            <div class="modal-body">
              <h3>Certeza que deseja deletar este suporte?</h3>
              <span class="input" role="textbox"> <%= sup.conteudo %> </span> 
              <div class="delete">
               
              <form action="/deletar-sup-adm/<%=sup._id%>" method="post">
            
                <button type="submit" class="sim">Sim</button>
                
              </form>
            <button data-close-button class="nao">Não</button>
            </div>
            </div>
            
            
              
              
            </div>

        <ul>
          <li><h4>User</h4><%= sup.userUser %></li>
          <li><h4>ID do Suporte</h4><%= sup._id %></li>
          <li><h4>Conteúdo</h4><span><%= sup.conteudo %></span></li>
          <li><h4>Criado em </h4><%= sup.createdAt %></li>
        </ul>
         
        <button data-modal-target="#modal<%=sup._id%>" class="btnDelete">Deletar</button>
         
         
      
         
         <div class="hr"></div>
       
        <% }) %>
        
        <%}%> 
      
</div>

</div>    

    <%- include ('parts/page-footer') %>

  </body>

</html>
