<div class="publicados">

    <%pubs.forEach(pub => {%>
      <div class="publica">
        <%= pub.userEx %> 
        <a href="/perfil/<%= pub.userUser %>"><small><%= pub.userUser %></small></a>
        <%= pub.conteudo %>
        <% var monthNames = [
'Janeiro', 'Fevereiro', 'Março',
'Abril', 'Maio', 'Junho', 'Julho',
'Agosto', 'Setembro', 'Outubro',
'Novembro', 'Dezembro'
];
var d = pub.createdAt.getDate();
var m = monthNames[pub.createdAt.getMonth()];
var y = pub.createdAt.getFullYear();
var h = pub.createdAt.getHours()
var mi = pub.createdAt.getMinutes()%>
<small><%= d + ' ' +m + ' ' +y + ' ás: '+ h + ':'+ mi%></small>
<input type="hidden" name='pubId' value="<%=pub._id%>">

<form action="/deletar-adm/<%=pub._id%>" method="post">
    <button type="submit">Deletar</button>
        
    </form>         
      








        <hr>
      </div>
    <%}) %> 

  </div>