<% if(naoLogado == 1) {%>
  <header>
   
    <div class="container header">
    
      <div class="ponteHome nlogado">
       <img src="img/icoPonte.png" alt="" title="">
      </div>
    
    
     
    
    </div>
      
    </header>

 <%}else if(naoLogado == 2){%>

  <header>
    <script src="../script/logout.js"></script>
    <div class="container header">
    
      <div class="ponteHome">
        <button id="btnTop" onClick="topFunction()"><a href="/home"><img src="../img/home.png" alt="Homepage" title="Homepage"></a></button>
      </div>
    
    <div id="nav-login">
          
            <a class="seuPerfil" href="../perfil/<%= userUser %>">
              
                <img src="../img/user.png" alt="" title="">   
            
              <div class="userPerfil">
               
                <%= userEx %> 
                <small>@<%= userUser %></small> 
              </div>
            </a>
           
    
            
    
        
          
    </div>
     
    <div id="nav-help">
    
    <div class="btn-help">
      
    
    <button><img src="../img/gear.png" alt="" id="drop"></button>
    
    
      
    
    
    </div>
          <div class="warp hide">
            <ul>
              <li><a href="/suporte">Suporte</a> </li>
              <li><a href="/sobre">Sobre</a> </li>

              <% if(userAdm == 1){%>

                <li>
              
              
                <form action="/perfis" method="post">
                  <button>Perfis</button>
                  </form>

              </li>

              <%}%>

              <li>
                <form action="/logout" method="post">
                <button>Logout</button>
              </form>
             
              </li>

            
    
            </ul>
    
          </div>  
    
    </div>
    
      <script src="..//script/wrapper.js"></script>
    </header>

 <%} else{%>
  
  <header>
    <script src="script/logout.js"></script>
    <div class="container header">
    
      <div class="ponteHome">
        <button id="btnTop" onClick="topFunction()"><a href="/home"><img src="img/home.png" alt="Homepage" title="Homepage"></a></button>
      </div>
    
    <div id="nav-login">
          
            <a class="seuPerfil" href="perfil/<%= userUser %>">
              
                <img src="img/user.png" alt="" title="">   
            
              <div class="userPerfil">
               
                <%= userEx %> 
                <small>@<%= userUser %></small> 
              </div>
            </a>
           
    
            
    
        
          
    </div>
     
    <div id="nav-help">
    
    <div class="btn-help">
      
    
    <button><img src="img/gear.png" alt="" id="drop"></button>
    
    
      
    
    
    </div>
          <div class="warp hide">
            <ul>
              <li><a href="/suporte">Suporte</a> </li>
              <li><a href="/sobre">Sobre</a> </li>
              
              
              <% if(userAdm == 1){%><li>
              
              
                <form action="/perfis" method="post">
                  <button >Perfis </button>
                  </form> 
              </li><%}%>
              <li><form action="/logout" method="post"><button>Logout</button></form></a> 
              </li>

    
            </ul>
    
          </div>  
    
    </div>
    
      <script src="/script/wrapper.js"></script>
    </header>
    
    <%}%>


